@import "reset.css";
@import "fonts.css";

:root {
  --color-primary: hsl(14, 45%, 36%);
  --color-secondary: hsl(332, 51%, 32%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-rose-white: hsl(330, 100%, 98%);
  --color-neutral-eggshell: hsl(30, 54%, 90%);
  --color-neutral-light-grey: hsl(30, 18%, 87%);
  --color-neutral-wenge-brown: hsl(30, 10%, 34%);
  --color-neutral-dark-charcoal: hsl(30, 10%, 20%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.recipe-content {
  padding: 2.5rem 2rem;
}

h1 {
  font-family: YoungSerif-Regular, serif;
  font-size: 2.25rem;
  line-height: 100%;
  color: var(--color-neutral-dark-charcoal);
}

h2 {
  font-family: YoungSerif-Regular, serif;
  font-size: 1.75rem;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}

p {
  font-family: Outfit-Regular, sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-neutral-wenge-brown);
}

ul {
  list-style: disc;
  padding-left: 0.5rem;
}

ul li,
ol li {
  margin: 0 0 0.5rem 1.5rem;
}

ul li::marker,
ol li::marker {
  color: var(--color-primary);
}

ul li p,
ol li p {
  margin-left: 1rem;
}

ol li {
  list-style: decimal;
}

ol li::marker {
  font-family: Outfit-Bold, sans-serif;
}

span {
  font-family: Outfit-SemiBold, sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-neutral-light-grey);
  margin: 2rem 0;
}

.intro > h1 {
  margin-bottom: 1.5rem;
}

.intro > p {
  margin-bottom: 2rem;
}

.prep-time {
  background-color: var(--color-neutral-rose-white);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.prep-time > p {
  font-size: 1.25rem;
  font-family: Outfit-SemiBold, sans-serif;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
